root = true

[*.cs]
dotnet_analyzer_diagnostic.severity = warning
dotnet_diagnostic.CA1822.severity = warning
dotnet_diagnostic.CA1062.severity = warning
dotnet_diagnostic.CA2201.severity = warning
dotnet_diagnostic.IDE0055.severity = warning
dotnet_diagnostic.IDE0051.severity = warning
dotnet_diagnostic.CS8600.severity = warning
dotnet_diagnostic.CS8602.severity = warning
